@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


body {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    text-align: right;
}
li{
    display: inline;
    
}
.logo {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.sub-logo{
    text-align: center;
}
input{
    display:block;
    margin: auto;
}
.search-bar{
    margin: 15px auto 15px auto;
}
.search-btn{
    margin: 15px auto 15px auto;
}
